<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Specify which version of solc to use. See docs below about specifying solc version. -->
    <add key="SolcVersion" value="0.4.24"/>

    <!-- See https://solidity.readthedocs.io/en/v0.4.25/using-the-compiler.html for information on this solc optimizer setting. A value of "0" means default / no optimization. -->
    <add key="SolcOptimizer" value="0" />

    <!-- Specify this options to use your own test node. Requires using the [ParallelTestClass] attribute on test classes. Warning: the test node must support the special "snapshot" and "revert" RPC calls, such as Ganache. -->
    <add key="ExternalNodeHost" value="localhost:7545"/>

    <!-- By default if an external node host is provided, then tests will be ran against both Meadow's own test RPC node, as well as the externally specified one. Set this to "True" to disable. -->
    <add key="OnlyUseExternalNode" value="False"/>

    <!-- Specify the default gas limit in wei. -->
    <add key="DefaultGasLimit" value="6000000" />

    <!-- Specify how many accounts for the Meadow test RPC node to generate. -->
    <add key="AccountCount" value="120" />

    <!-- The balance given to each account, specified in ether (not wei). -->
    <add key="AccountBalance" value="2300" />

    <!-- The BIP39/BIP44 mnemonic to use for account generation. If not specified a random mnemonic will be generated for each test suite run. -->
    <add key="AccountMnemonic" value="lift kiwi blossom catalog around oxygen unknown cousin road usage warrior silk eye game universe" />

  </appSettings>
</configuration>
